.login_box {
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-color: #ededed;
  width: 30vw;
  align-items: center;
  box-shadow: 2px 4px 20px -5px rgba(0, 0, 0, 2);
}

.login_box > .MuiSvgIcon-root {
  height: 200px;
  width: 200px;
  padding: 50px;
  color: blueviolet;
}

.login_box > button {
  margin-top: 40px;
  font-weight: 700;
  background-color: rgb(31, 157, 207);
}

.login_box > button:hover {
  background-color: rgb(9, 105, 143);
}

.login_text {
  margin: 5px;
  font-size: large;
}
